.container
{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:center;
}

.tile-urgent, .tile-unfinished, .tile-finished, .tile-sent
{
margin:2vw 2vh 2vw 2vh;
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:center;
flex-basis:20%;
color:black;
border:1px solid black;
background-color:yellow;
}

p{
text-align:center
}

.tile-urgent{
color:white;
background-color:red;
}

.tile-finished{
color:white;
background-color:blue;
}

.tile-sent{
color:white;
background-color:green;
}